body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(73, 157, 190);
    color: rgb(20, 20, 20);
}
header {
    background-color:rgb(255, 255, 255);
    padding: 5px;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}